[Desktop Entry]
Comment[en_US]=
Comment=
GenericName[en_US]=
GenericName=
Icon=dialog-scripts
MimeType=
Name[en_US]=winscr_screensaver.sh
Name=winscr_screensaver.sh
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
X-KDE-Username=
